.gpt3__cta {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	margin: 4rem;
	background: var(--gradient-bar);
	border-radius: 12px;
}

.gpt3__cta-content p {
	font-family: var(--font-family);
	font-size: 12px;
	font-weight: 500;
	color: #0e0e0e;
	line-height: 30px;
}

.gpt3__cta-content h3 {
	font-family: var(--font-family);
	font-size: 24px;
	font-weight: 700;
	color: #000000;
	line-height: 45px;
}

.gpt3__cta-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 2rem;
}

.gpt3__cta-btn button {
	font-family: var(--font-family);
	font-size: 14px;
	padding: 0.5rem 1rem;
	min-width: 150px;
	background: #000000;
	border-radius: 40px;
	font-weight: 700;
	color: #fff;
	line-height: 30x;
	cursor: pointer;
	border: none;
	outline: none;
}

@media screen and (max-width: 650px) {
	.gpt3__cta {
		flex-direction: column;
	}

	.gpt3__cta-btn {
		margin: 2rem 0 0;
	}
}

@media screen and (max-width: 550px) {
	.gpt3__cta {
		margin: 4rem 2rem;
	}

	.gpt3__cta-content h3 {
		font-size: 18px;
		line-height: 32px;
	}

	.gpt3__cta-btn button {
		font-size: 14px;
		line-height: 28px;
	}
}
