.gpt3__possibility {
	display: flex;
	flex-direction: row;
}

.gpt3__possibility-image {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-right: 2rem;
}

.gpt3__possibility-image img {
	width: 100%;
	height: 100%;
}
